@charset "UTF-8";

header{
	display: flex;
	justify-content:space-around;
}

nav{
	display: flex;
	justify-content:space-around;
}

/* footer{
	display: flex;
	justify-content: center;
} */

.footTitle{
	text-align: center;
}

.footInfo{
	display: flex;
	justify-content: center;
}

.bxslider{
	display: block;
	margin-left: auto;
	margin-right: auto; 
}